<!-- Campaign Viewer -->
<div id="campaign-viewer-modal" ng-controller="campaign-viewer as viewer">
  <div class="row">
    <div class="col col-sm-8 offset-2">
      <div id="viewer-container">
        <ul>
          <li>
            <label class="mongo-output">Project Image:</label>
            <input ng-model="creator.imageUpload">
                 {{ viewer.image }}
          </li>
          <li>
            <label class="mongo-output">Funding Target:</label>
            <input type="text" ng-model="viewer.target">
             {{ viewer.target }}
          </li>
          <li>
            <label class="mongo-output">Project Title:</label>
            <input ng-model="viewer.title">
              {{ viewer.title }}
          </li>
          <li>
            <label class="mongo-output">Short Blurb:</label>
            <input type="text" ng-model="viewer.blurb">
              {{ viewer.blurb }}
          </li>
          <li>
            <label class="mongo-output">Location:</label>
            <input ng-model="viewer.location">
              {{ viewer.location }}
          </li>
          <li>
            <label class="mongo-output">Category:</label>
            <input type="text" ng-model="viewer.category">
              {{ viewer.category }}
          </li>
          <li>
            <label class="mongo-output">Campaign Start Date:</label>
            <input ng-model="viewer.startDate">
              {{ viewer.startDate }}
          </li>
          <li>
            <label class="mongo-output">Campaign End Date:</label>
            <input type="text" ng-model="viewer.endDate">
              {{ viewer.endDate }}
          </li>
        </ul>
      </div> <!-- close #view-container -->
    </div>
  </div>
</div>