<!-- Campaign Creator -->
<div id="campaign-creator">
  <div class="row">
    <div class="col col-sm-6">
      <div id="creator-container">
        <h1>3 Easy Steps</h1>
        <!-- Step 1 -->
        <div class="col-sm-6 step-one">
          <h2>Step 1</h2>
          <div class="creator-steps" id="step-one-inner">
            <ul>
              <li><label>Project Name:</label></li>
              <li><input type="text" maxlength="18" placeholder="name" ng-model="creator.Name"></li>
<!--          <li><label>Project Image URL:</label></li>
              <li><input type="url" ng-model="creator.Image"></li> -->
            </ul>
          </div>
        </div>
        <!-- Step 2 -->
        <div class="col-sm-6 step-two">
          <h2>Step 2:</h2>
          <div class="creator-steps" id="step-two-inner">
            <ul>
              <li><label>You Want to Raise:</label></li>
              <li>$ <input type="text" maxlength="9" placeholder="1000000" ng-model="creator.Target"></li>
            </ul>
          </div>
        </div>
        <!-- Step 3 -->
        <div class="col-sm-12 step-three">
          <h2>Step 3: Describe it</h2>
          <div class="creator-steps" id="step-three-inner">
            <ul>
              <li><textarea type="text" maxlength="34" placeholder="Write a 1 Sentence Pitch or Blurb to Attract Investors..." ng-model="creator.Pitch"></textarea></li>
              <br>
              <li><textarea id="description" type="text" maxlength="150" placeholder="Add a longer description to tell investors a bit more about your campaign..." ng-model="creator.Description"></textarea></li>
            </ul>
          </div> <!-- close #step 3 -->
        </div>
        <button class="btn btn-large btn-success" id="creator-submit"><a href="/#/">Submit</a></button>
        <button class="btn btn-large btn-warning" id="creator-close"><a href="/#/">Close</a></button>
      </div>
    </div>
    <!-- Campaign Preview -->
    <div class="col col-sm-6">
      <div id="creator-model">
        <h3>Campaign Preview</h3>
        <div class="cards">
          <div class="container cardContainer">
            <img class="img-square cardImg" ng-src="images/{{creator.Image}}" href="">
            <span class="card-description cardImg" id="creator-target">${{creator.Target}}</span>
            <h2 class="cardTitle">{{ creator.Name }}</h2>
            <p class="cardBlurb">{{ creator.Pitch }}</p>
            <a class="cardLocation" href="/#/campaign-viewer" id="creator-location"><i class="fa fa-map-marker"></i> {{ creator.Location }}</a>
          </div>
        </div>
      </div>
    </div> <!-- close .col-6 -->

    <div class="col-sm-6" style="padding-left: 60px;">
      <div class="creator-added-details col-sm-4">
        <ul>
          <li><label>Your Location:</label></li>
          <li><label>Industry:</label></li>
          <li><label>Begins:</label></li>
          <li><label>End Date:</label></li>
        </ul>
      </div>
      <div class="creator-added-details col-sm-3">
        <ul id="align-details">
          <li><input ng-model="creator.Location" content="City, State" placeholder="City, State"></li>
          <li>
            <div class="dropdown">
              <button type="button" data-toggle="dropdown" id="industry-dropdown">
                Industry
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="">Technology</a></li>
                <li><a href="">Software</a></li>
                <li><a href="">Energy</a></li>
                <li><a href="">Gadgets</a></li>
                <li><a href="">Life Sciences</a></li>
              </ul>
            </div>
          </li>
          <li><input maxlength="8" placeholder="mm/dd/yyyy" ng-model="creator.Start"></li>   
          <li><input maxlength="8" placeholder="mm/dd/yyyy" ng-model="creator.End"></li>
        </ul>
      </div>
    </div>
  </div> <!-- close .row -->
</div> <!-- close #campaign creator