<!-- Campaign Viewer -->
<div class="container" id="campaign-viewer">
  <div class="row">
    <div class="col col-sm-6">
      <h1>Testing</h1>
      {{ viewer.Image }}
      {{ viewer.Target }}
      {{ viewer.Pitch }}
      {{ viewer.Location }}
      {{ viewer.Industry }}
      {{ viewer.Start }}
      {{ viewer.End }}
    </div>

    <div class="col col-sm-6">
      <h1>Campaign Viewer</h1>
      <h2>{{viewer.Name}}</h2>
      <br>
      <img ng-src="images/{{viewer.Logo}}">
      <br>  
      <ul>
        <li>
          <label>Project Image URL:</label>
          <img ng-src="images/{{viewer.Image}}">
            {{ viewer.Image }}
        </li>
        <li>
          <label>Funding Target:</label>
          <input type="text" ng-model="viewer.Target">
            {{ viewer.Target }}
        </li>
        <li>
          <label>Pitch:</label>
          <input type="text" ng-model="viewer.Pitch">
            {{ viewer.Pitch }}
        </li>
        <li>
          <label>Location:</label>
          <input ng-model="viewer.Location">
            {{ viewer.Location }}
        </li>
        <li>
          <label>Category:</label>
          <input type="text" ng-model="viewer.Industry">
            {{ viewer.Industry }}
        </li>
        <li>
          <label>Campaign Start Date:</label>
          <input ng-model="viewer.Start">
            {{ viewer.Start }}
        </li>
        <li>
          <label>Campaign End Date:</label>
          <input type="text" ng-model="viewer.End">
            {{ viewer.End }}
        </li>
      </ul>
    </div>
  </div> <!-- close .row -->
</div> <!-- close #campaign-viewer -->