<!-- HOMEPAGE -->
<div id="home-background">      
  <!-- Header -->
  <div id="header" ng-controller="scrollCtrl">
    <h3 id="subtitle">Crowdfunded Capital for the Future</h3>
    <br>
    <h1 id="title">Invest Ahead of the Curve</h1>
    <br>
    <br>
    <button id="learn-more" ng-click="scrollToHero()">Learn More</button>
    <button id="create-account" data-toggle="modal" data-target="#login-modal">Create Account</button>
    <br>
  </div> <!-- close #header and scrollCtrl -->
</div> <!-- close #homeBackground -->

<!-- 8 Featured Campaigns -->
<div id="top-campaigns">
  <!-- 2 rows of 4 campaign cards each -->
  <div class="row" id="topCampaignsContainer">
    <div class="col-xs-2 col-md-3 cards" ng-repeat="campaign in home.campaigns">
      <div class="container cardContainer">
        <br>
        <span class="card-description cardImg">${{campaign.Target}}</span>
        <img class="img-square cardImg" ng-src="images/{{campaign.Image}}" href="">
        <h2 class="cardTitle">{{ campaign.Name }}</h2>
        <p class="cardBlurb">{{ campaign.Pitch }}</p>
        <a class="cardLocation" href=""><i class="fa fa-map-marker"></i> {{ campaign.Location }}</a>
      </div>
    </div>
  </div> <!-- close .row -->
</div> <!-- close #top-campaigns -->

<!-- Video Hero -->
<div id="video-hero">
  <div class="video-container">
    <!-- video source -->
    <iframe class="inner" frameborder="0" allowfullscreen="1" title="YouTube video player" width="100%" height="100%" src="https://www.youtube.com/embed/lMJXxhRFO1k?playlist=lMJXxhRFO1k&amp;iv_load_policy=3&amp;enablejsapi=1&amp;disablekb=1&amp;autoplay=1&amp;controls=0&amp;showinfo=0&amp;rel=0&amp;loop=1&amp;origin=http%3A%2F%2Flegacycrowdx.com" id="video-frame"></iframe>
    <!-- Blue Overlay with content, also prevents users interacting with the video -->
    <div class="video-overlay">
      <div class="text-center" id="video-hero-content" ng-controller="scrollCtrl">
        <h1>The World's First</h1>
        <h2>Investment-Based Crowdfunding</h2>
        <p>The mainstream models for raising capital leave out vast, untapped numbers of people who want to invest in the businesses and organizations that provide real value in the real world.</p>
        <!-- link to "campaign creator" view -->
        <a id="get-started" href="/#/campaign-creator" ng-click="scrollTop()">Get Started</a> 
      </div>
    </div>
  </div> <!-- close .video-container -->
</div> <!-- close #video-hero -->
<!-- END HOMEPAGE -->