/* set default fonts */
* {
  font-family: "Lato", "Trebuchet MS", sans-serif;
}
h4, h5, h6 {
  font-family: "Della Respira";
}
/* remove hyperlink color */
a:link, a:visited {
  text-decoration: none;
}
/* remove list bullets */
ul {
  list-style-type: none;
}

#homeBackground {
  background-image: url('../../images/legacy-home-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100%;
  min-height: 200px;
  width: 100%;
}

#nav-menu {
  max-height: 70px;
}

#nav-container {
  padding-right: 70px;
  padding-left: 70px;
}
#nav-logo {
  width: 35%;
  padding: 12px;
}

.navbar-right {
  position: absolute;
  right: 90px;
}

.navbar-nav>li>a {
  padding-top: 25px;
}

#learn-more {
  position: relative;
  left: 36%;
  padding: 15px;
  border-color: #286090;
  background-color: rgb(22, 116, 209);
  color: white;
}

#learn-more:hover {
  background-color: rgba(22, 116, 209, 0.7);
}

#create-account {
  position: relative;
  left: 45%;
  padding: 15px;
  border-color: white;
  background-color: rgba(51, 51, 51, 0);
  color: white;
}

#create-account:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

#title {
  font-size: 50px;
  letter-spacing: 7px;
  word-spacing: 2.5px;
  text-align: center;
  color: white;
}

#subtitle {
  margin-top: 130px;
  font-size: 20px;
  letter-spacing: 12px;
  text-align: center;
  color: white;
}

#header {
  margin-bottom: 50px;
}

.build-input {
  padding-right: 20px;
}

#top-campaigns {
  height: 720px;
  width: 100%;
}

#topCampaignsContainer {
  width: 100%;
  max-height: 720px;
  overflow: hidden;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.cards {
  max-width: 400px;
  margin-right: auto;
  width: 100%;
}

.cardContainer {
  width: 290px;
  margin: 15px;
  padding: 10px;
  border: 3px solid rgba(51, 51, 51, 0.4);
  border-radius: 7px;
}

.cardImg {
  width: 285px;
  height: 190px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 5px;
}

.cardTitle {
  font-size: 22px;
  text-align: center;
}

.cardBlurb {
  width: 220px;
  margin-left: 20px;
}

.cardLocation {
  margin-left: 20px;
}

.planning {
  padding: 30px;
  text-align: center;
  color: white;
}