/* set default fonts */
* {
  font-family: "Lato", "Trebuchet MS", sans-serif;
}
h4, h5, h6 {
  font-family: "Della Respira";
}

/* remove hyperlink color */
a:link, a:visited {
  text-decoration: none;
}

#homeBackground {
  background-image: url('../../images/legacy-home-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100%;
  min-height: 200px;
  width: 100%;
}

#nav-logo {
  width: 50%;
}

.navbar-nav>li>a {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#learn-more {
  position: relative;
  left: 36%;
  padding: 15px;
  border-color: #286090;
  background-color: rgb(22, 116, 209);
  color: white;
}

#learn-more:hover {
  background-color: rgba(22, 116, 209, 0.7);
}

#create-account {
  position: relative;
  left: 45%;
  padding: 15px;
  border-color: white;
  background-color: rgba(51, 51, 51, 0);
  color: white;
}

#create-account:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

#title {
  font-size: 50px;
  letter-spacing: 7px;
  word-spacing: 2.5px;
  text-align: center;
  color: white;
}

#subtitle{
  margin-top: 130px;
  font-size: 20px;
  letter-spacing: 12px;
  text-align: center;
  color: white;
}

#header {
  margin-bottom: 50px;
}

.planning {
  padding: 30px;
  text-align: center;
  color: white;
}