<!-- Campaign Viewer -->
<div class="container" id="campaign-viewer">
  <div class="row">
    <div class="col col-sm-8 offset-2">
        <ul>
          <li>
            <label>Project Image URL:</label>
            <input ng-model="creator.image">
              {{ viewer.image }}
          </li>
          <li>
            <label>Funding Target:</label>
            <input type="text" ng-model="viewer.target">
              {{ viewer.target }}
          </li>
          <li>
            <label>Project Title:</label>
            <input ng-model="viewer.title">
              {{ viewer.title }}
          </li>
          <li>
            <label>Short Blurb:</label>
            <input type="text" ng-model="viewer.blurb">
              {{ viewer.blurb }}
          </li>
          <li>
            <label>Location:</label>
            <input ng-model="viewer.location">
              {{ viewer.location }}
          </li>
          <li>
            <label>Category:</label>
            <input type="text" ng-model="viewer.category">
              {{ viewer.category }}
          </li>
          <li>
            <label>Campaign Start Date:</label>
            <input ng-model="viewer.startDate">
              {{ viewer.startDate }}
          </li>
          <li>
            <label>Campaign End Date:</label>
            <input type="text" ng-model="viewer.endDate">
              {{ viewer.endDate }}
          </li>
        </ul>
    </div>
  </div> <!-- close .row -->
</div> <!-- close #campaign-viewer -->