<!-- Campaign Creator -->
<div id="campaign-creator">
  <div class="row">
    <div class="col col-sm-8 offset-2">
      <div id="creator-container">
        <h1>Start Building Your Project!</h1>
        <h4>Add an Image, Set a Goal, and include Important Details</h4>
        <form novalidate>
          <ul>
            <li>
              <label>Project Image URL:</label>
              <input ng-model="creator.image">
                {{ creator.image }}
            </li>
            <li>
              <label>Funding Target:</label>
              <input type="text" ng-model="creator.target">
               {{ creator.target }}
            </li>
            <li>
              <label>Project Title:</label>
              <input ng-model="creator.title">
                {{ creator.title }}
            </li>
            <li>
              <label>Short Blurb:</label>
              <input type="text" ng-model="creator.blurb">
                {{ creator.blurb }}
            </li>
            <li>
              <label>Location:</label>
              <input ng-model="creator.location">
                {{ creator.location }}
            </li>
            <li>
              <label>Category:</label>
              <input type="text" ng-model="creator.category">
                {{ creator.category }}
            </li>
            <li>
              <label>Campaign Start Date:</label>
              <input ng-model="creator.startDate">
                {{ creator.startDate }}
            </li>
            <li>
              <label>Campaign End Date:</label>
              <input type="text" ng-model="creator.endDate">
                {{ creator.endDate }}
            </li>
          </ul>
        </form>
      </div> <!-- close #campaign-creator -->
    </div>
  </div> <!-- close .row -->
</div> <!-- close #campaign creator -->