<!-- header text, login & learn more buttons -->
<div id="home-background">      

  <!-- Header -->
  <div id="header">
    <h3 id="subtitle">Crowdfunded Capital for the Future</h3>
    <br>
    <h1 id="title">Invest Ahead of the Curve</h1>
    <br>
    <br>
    <button id="learn-more">Learn More</button>
    <button id="create-account" data-toggle="modal" data-target="#login-modal">Create Account</button>
    <br>
  </div> <!-- close #header -->

</div> <!-- close #homeBackground -->

<div id="top-campaigns">
  <div ng-controller="featuredCampaignCtrl as featured">
    <!-- top 8 campaigns, in 2 rows of 4 campaign cards each -->
    <div class="row" id="topCampaignsContainer">
      
      <div class="col-xs-2 col-md-3 cards">
        <!-- card 1 -->
        <div class="container cardContainer">
          <img class="img-square cardImg" src="images/legacy-phone-campaign.png">
          <h2 class="cardTitle">Metronome Technologies</h2>
          <p class="cardBlurb">This campaign will build a new fast and affordable smartphone</p>
          <a class="cardLocation" href=""><i class="fa fa-map-marker"></i> Irvine, California</a>
        </div>
        <!-- card 2 -->
        <div class="container cardContainer">
          <img class="img-square cardImg" src="images/legacy-phone-campaign.png">
          <h2 class="cardTitle">Metronome Technologies</h2>
          <p class="cardBlurb">This campaign will build a new fast and affordable smartphone</p>
          <a class="cardLocation" href=""><i class="fa fa-map-marker"></i> Irvine, California</a>
        </div>
      </div> <!-- close column -->

      <div class="col-xs-2 col-md-3 cards">
        <!-- card 3 -->
        <div class="container cardContainer">
          <img class="img-square cardImg" src="images/legacy-phone-campaign.png">
          <h2 class="cardTitle">Metronome Technologies</h2>
          <p class="cardBlurb">This campaign will build a new fast and affordable smartphone</p>
          <a class="cardLocation" href=""><i class="fa fa-map-marker"></i> Irvine, California</a>
        </div>
        <!-- card 4 -->
        <div class="container cardContainer">
          <img class="img-square cardImg" src="images/legacy-phone-campaign.png">
          <h2 class="cardTitle">Metronome Technologies</h2>
          <p class="cardBlurb">This campaign will build a new fast and affordable smartphone</p>
          <a class="cardLocation" href=""><i class="fa fa-map-marker"></i> Irvine, California</a>
        </div>
      </div> <!-- close column -->

      <div class="col-xs-2 col-md-3 cards">
        <!-- card 5 -->
        <div class="container cardContainer">
          <img class="img-square cardImg" src="images/legacy-phone-campaign.png">
          <h2 class="cardTitle">Metronome Technologies</h2>
          <p class="cardBlurb">This campaign will build a new fast and affordable smartphone</p>
          <a class="cardLocation" href=""><i class="fa fa-map-marker"></i> Irvine, California</a>
        </div>
        <!-- card 6 -->
        <div class="container cardContainer">
          <img class="img-square cardImg" src="images/legacy-phone-campaign.png">
          <h2 class="cardTitle">Metronome Technologies</h2>
          <p class="cardBlurb">This campaign will build a new fast and affordable smartphone</p>
          <a class="cardLocation" href=""><i class="fa fa-map-marker"></i> Irvine, California</a>
        </div>
      </div>

      <div class="col-xs-2 col-md-3 cards">
        <!-- card 7 -->
        <div class="container cardContainer">
          <img class="img-square cardImg" src="images/legacy-phone-campaign.png">
          <h2 class="cardTitle">Metronome Technologies</h2>
          <p class="cardBlurb">This campaign will build a new fast and affordable smartphone</p>
          <a class="cardLocation" href=""><i class="fa fa-map-marker"></i> Irvine, California</a>
        </div>
        <!-- card 8 -->
        <div class="container cardContainer">
          <img class="img-square cardImg" src="images/legacy-phone-campaign.png">
          <h2 class="cardTitle">Metronome Technologies</h2>
          <p class="cardBlurb">This campaign will build a new fast and affordable smartphone</p>
          <a class="cardLocation" href=""><i class="fa fa-map-marker"></i> Irvine, California</a>
        </div>
      </div>

  </div> <!-- close featuredCampaignCtrl -->
</div> <!-- close #top-campaigns -->

<!-- Video Hero -->
<div id="video-hero">
  <div class="video-container">
    <!-- video background -->
    <iframe class="inner" frameborder="0" allowfullscreen="1" title="YouTube video player" width="100%" height="100%" src="https://www.youtube.com/embed/lMJXxhRFO1k?playlist=lMJXxhRFO1k&amp;iv_load_policy=3&amp;enablejsapi=1&amp;disablekb=1&amp;autoplay=1&amp;controls=0&amp;showinfo=0&amp;rel=0&amp;loop=1&amp;origin=http%3A%2F%2Flegacycrowdx.com" id="video-frame"></iframe>
    <div class="video-overlay">
      <div class="text-center" id="video-hero-content">
        <h1>The World's First</h1>
        <h2>Investment-Based Crowdfunding</h2>
        <p>The mainstream models for raising capital leave out vast, untapped numbers of people who want to invest in the businesses and organizations that provide real value in the real world.</p>
        <!-- linked to "campaign creator" view -->
        <button id="get-started"><a href="/#/campaign-creator" ng-click="scrollTop()">Get Started</button> 
      </div>
    </div>
  </div> <!-- close .video-container -->
</div> <!-- close #video-hero -->