<!-- Campaign Close-up view -->
<div id="campaign-view-modal" ng-controller="campaign-view as view">
  <div class="row">
    <div class="col col-sm-8 offset-2">
      <div id="view-container">
        <ul>
          <li>
            <label class="mongo-output">Project Image:</label>
            <input ng-model="creator.imageUpload">
                 {{ view.image }}
          </li>
          <li>
            <label class="mongo-output">Funding Target:</label>
            <input type="text" ng-model="view.target">
             {{ view.target }}
          </li>
          <li>
            <label class="mongo-output">Project Title:</label>
            <input ng-model="view.title">
              {{ view.title }}
          </li>
          <li>
            <label class="mongo-output">Short Blurb:</label>
            <input type="text" ng-model="view.blurb">
              {{ view.blurb }}
          </li>
          <li>
            <label class="mongo-output">Location:</label>
            <input ng-model="view.location">
              {{ view.location }}
          </li>
          <li>
            <label class="mongo-output">Category:</label>
            <input type="text" ng-model="view.category">
              {{ view.category }}
          </li>
          <li>
            <label class="mongo-output">Campaign Start Date:</label>
            <input ng-model="view.startDate">
              {{ view.startDate }}
          </li>
          <li>
            <label class="mongo-output">Campaign End Date:</label>
            <input type="text" ng-model="view.endDate">
              {{ view.endDate }}
          </li>
        </ul>
      </div> <!-- close #view-container -->
    </div>
  </div>
</div>